<div class="row">
  <div class="small-10 small-offset-1
    medium-8 medium-offset-2
    large-6 large-offset-3 columns">
    <%%= simple_form_for(@<%= singular_table_name %>) do |f| %>
      <%%= f.error_notification %>

      <div class="form-inputs">
<%- attributes.each do |attribute| -%>
        <%%= f.<%= attribute.reference? ? :association : :input %> :<%= attribute.name %> %>
<%- end -%>
      </div>

      <div class="form-actions">
        <%%= f.button :submit, class: "btn btn-primary pull-right" %>
      </div>
    <%% end %>
  </div>
</div>

