<h1 class="text-center">New <%= singular_table_name.titleize %></h1>

<div class="text-center">
  <%%= link_to 'Back', <%= index_helper %>_path %>
</div>

<%%= render 'form', <%= singular_table_name %>: @<%= singular_table_name %> %>


